body {
}
.badge-danger {
    background-color: #8f2032;
}
.badge-warning {
    background-color: #e7b4c5;
}
.avatar-online i {
    background-color: #95c6c0;
}
html body {
    background-color: #f2e4e6;
}
.navbar-light.navbar-horizontal {
    background: #f8f1f2;
}

.header-navbar .navbar-wrapper {
    background: #e4cace;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #743b44;
}
.navbar-light .navbar-brand {
    color: #400e16;
}
.horizontal-menu .navbar-light ul#main-menu-navigation > li.active > a {
    border-bottom: 2px solid #B86B77;
    background: #fbeff1;
}
a:hover {
    color: #57a299;
}
body {
    color: #68323a;
}
.breadcrumb-item.active {
    color: #4e252b;
}
.navbar-light .navbar-nav .nav-link {
    color: #4e252b;
}

.navbar-light .navbar-header .navbar-nav .nav-link, .navbar-semi-light .navbar-header .navbar-nav .nav-link {
    color: #400e16;
}
.card-header {
    background-color: #f8f0f0;
}
.card {
    background-color: #f8f0f0;
}
.dropdown .dropdown-menu {
    border: 1px solid #E6E6E6;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    background-color: #f8f0f0;
}
.dropdown .dropdown-menu .dropdown-item:active .dropdown-item:hover, .dropdown-item:focus {
    background-color: #e4cace !important;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #f2e4e6;
}
.blue-grey.lighten-2 {
    color: #B86B77 !important;
}