@using ReportWebsite.Infrastructure;
@using ReportWebsite.Properties
@using Dualp.Common.Types
@using ReportWebsite.UtilitySystem
@using ReportWebsite.Models


@model  ReportWebsite.Models.Login
@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_LayoutSingle.cshtml";
    Login model;
}


<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <h3>پردازش پارسیان</h3>
                                    <img style="display: none; width: 205px;" src="~/Template/Contents/images/portrait/medium/logo-pd.png" alt="avatar" />
                                </div>

                            </div>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form-horizontal" action="index.html" novalidate>
                                            <fieldset class="form-group position-relative has-icon-left">

                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "UserName", placeholder = "نام کاربری" })

                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", placeholder = " رمزعبور" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </fieldset>
                                            <div class="form-group row">
                                                <div class="col-md-12 col-12 text-center text-sm-left">
                                                    <fieldset>

                                                        <label for="remember-me">  </label>
                                                        <label style="color:#a9293e" for="message-me">
                                                           
                                                            @Html.ValidationMessage("LockError")
                                                        </label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> ورود</button>
                                            <button style="display:none" type="submit" class="btn btn-outline-primary btn-block"><i class="ft-unlock"></i> ثبت نام</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

